import type { ModalProps }    from '@atls-ui-parts/modal'
import type { ReactElement }  from 'react'

import { Modal as BaseModal } from '@atls-ui-parts/modal'

import { backdropStyles }     from './styles.css.js'
import { containerStyles }    from './styles.css.js'

export const Modal = ({ children, ...props }: ModalProps): ReactElement => (
  <BaseModal backdropProps=\{{ className: backdropStyles }} {...props}>
    <div className={containerStyles}>{children}</div>
  </BaseModal>
)
